body{

font-family: Arial;
background: linear-gradient(135deg,#6a11cb,#2575fc);
color:white;
text-align:center;
padding-top:100px;

}

.container{

background:white;
color:black;
width:500px;
margin:auto;
padding:30px;
border-radius:10px;
box-shadow:0 10px 25px rgba(0,0,0,0.3);

}

button{

padding:10px 20px;
background:#2575fc;
color:white;
border:none;
border-radius:5px;
cursor:pointer;

}

button:hover{

background:#6a11cb;

}

ul{

list-style:none;

}

li{

background:#eee;
margin:5px;
padding:5px;
border-radius:5px;

}

.action-buttons{

margin-top:20px;
display:flex;
justify-content:center;
gap:10px;

}

.qualified-btn{

background:#28a745;
color:white;
border:none;
padding:10px 18px;
border-radius:6px;
cursor:pointer;

}

.notqualified-btn{

background:#dc3545;
color:white;
border:none;
padding:10px 18px;
border-radius:6px;
cursor:pointer;

}

.next-btn{

background:#007bff;
color:white;
padding:10px 18px;
border-radius:6px;
text-decoration:none;

}

.qualified-btn:hover{

background:#218838;

}

.notqualified-btn:hover{

background:#c82333;

}

.next-btn:hover{

background:#0056b3;

}

.qualification-result{

margin-top:20px;
text-align:center;

}

.qualified{

color:#28a745;
font-size:22px;
font-weight:bold;

}

.not-qualified{

color:#dc3545;
font-size:22px;
font-weight:bold;

}

.next-btn{

display:inline-block;
margin-top:15px;
background:#007bff;
color:white;
padding:10px 18px;
border-radius:6px;
text-decoration:none;

}

.next-btn:hover{

background:#0056b3;

}